{
    "logger": {
        "enable": true,
        "graylog2": {
            "enable": false,
            "host": "127.0.0.1",
            "port": "12201",
            "facility": "My NodeJS App"
        }
    },
    "chat": {
        "messages_limit": 100
    }
}
